* { /*essa parte eu vou usar para ressetar os valores padroes do navegador */
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #E5E5E5;
    font-family: 'Open Sans';
    color:#43295a
     
}

header {
    width: 100vw;
    display: flex;
    height: 100px;
    align-content: space-between; /*vertical-align*/
    justify-content: space-between; /*horizontal-align*/
    box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.75);
    position: fixed;
    background-color: #E5E5E5;
    color:#43295a;


}

a:link {
    text-decoration: none;
    color: #43295a;
}


.logo {
    width: 25%;
} 

.logo img {
    height: 100px
}


nav {    
    width: 50vw;
    height: 100%;
    display: flex;
    padding: 2rem;
    font-size: 1rem;
    line-height: 21px;
    justify-items: center;
    align-content: center;
    color: #43295a;

}

ul {
    list-style: none;
    line-height:normal;
}

nav ul {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    
}


nav a:visited {
    color: #43295a;
    
}

/* nav a li:: {
    border-top: 1px solid #43295a;
    border-bottom: 1px solid #43295a;
    }
 */
    

.end-top {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.8rem;
    margin-right: 3rem;
    font-size: 1.4rem;
}

#search {
    background-color: #E5E5E5;
    border-radius: 4px;
    border-bottom: 0.5px solid  rgba(67,41,90,0.42);
    display: flex;
    justify-content: space-around;
    
}

#search:hover {
    box-shadow: 0px 0px 2px 1px rgba(67,41,90,0.42);

}

#search input {
    float:left;
    margin-left: 5px;
    background-color: transparent;
    font-size: 1rem;
    border:none;
    color: #43295a;
    width: 70%;
}




input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

nav i {
    color: #43295a;
    
}

#search i {
    align-self: center;

}

    

.backdrop img {
    margin-top: 5%;
    width: 100vw; /* caso o minha tela tenha menos de 580px o meu main vai ter 90% do tamanho */

}


@media (max-width: 475px) {
    html {
        font-size: 30%;
    }

    header {
        height: 50px
    }
    .logo img{
        height: 50px
    }
}

@media (min-width: 724px) and   (max-width:1024px) {
    html {
        font-size: 56%;
    }
    header {
        height: 100px
    }
    .logo img{
        height: 100px
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 150%;
    }
    header {
        height: 200px
    }
}


.info ul{
    display: flex;
}

.info ul li{
    margin-top: 2.4rem;
    display: flex;
    justify-content: center ;
    gap: 1.6em;
    width: 100vw;
    align-content: center
}

.info-compra {
    display: block;
    gap: 1.6em;
}

.products-index h2{
    font-size: 2rem;
    text-align: center;
    margin: 2.4rem;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100vw;
    justify-content: center;
   }

.container-products img {
    border-radius: 8px;
    width: 18rem;
    box-shadow: 6px 9px 26px -7px #949494 ;

}

.product{
    font-size: 0.8rem ;
    text-align: center;

}

.name-products {
    margin-top: 1.2rem;
}

.price-products {
    margin-top: 0.5rem;

}

.ver-produtos {

    width: 100vw;
    display: flex;
    justify-content: center;
}
.ver-produtos button {
    width: 20rem;
    background-color: #E5E5E5;
    border-radius: 8px;
    border: 0.5px solid  rgba(67,41,90,0.42);
    display: inline;
    align-content: space-between;
    font-size: 0.8rem;
    height: 2rem;
    justify-self: center;
    color: #43295a;
   
}

.instgram {
    display: grid;
    width: 100vw;
    height: 15rem;
    justify-content: center;
    justify-items: center;
    margin-top:1.2rem;
    margin-bottom: 1.2rem;
    background-color:  #c4b4d5;
    font-size: 1.2rem;
    align-content: center;
    gap: 1rem;

}


.insta-logo{
    display: flex;
    gap: 0.3rem;
    width: min-content;
    align-content: center;
}

.insta-logo a {
    width: min-content;
    display: flex;
    justify-self: center;
}



.instgram a p {
    text-align: center;
    font-weight: bold;
    color: #43295a;
}

.instgram a i {
    text-align: center;
    font-weight: bold;
    margin-bottom:0.5rem;
    color: #43295a;
}

.instgram button {
    margin-bottom: 0.5rem;
    background-color: #e5e5e550;
    border-radius: 8px;
    border: 0.5px solid  rgba(67,41,90,0.42);
    align-content: space-between;
    font-size: 0.8rem;
    height: 2rem;
    width: 10rem;
    justify-self: center;
    color: #43295a;
    
    
}



