
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}


aside { 
    background-color:  #c4b4d57e ;
    border: 1px solid black;
    margin-top: 100px;
    width: 25vw;
    height: 100vh;
    display: flex;

}

aside ul {
    margin-top: 2.4rem;
    gap: 2.4rem;
    width: 25vw;
    border: 1px solid black;
    display: grid;
}

main {
    width: 75vw;
    height: 100vh;
}

main ul {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 75vw;
    border: 1px solid black;
    justify-content: center;

}

main img {
    border-radius: 8px;
    width: 10rem;
    box-shadow: 6px 9px 26px -7px #949494 ;

}

li{
justify-self: center;
}

li h3 {
    font-size: 0.9rem;
}

li h2 {
    font-size: 0.9rem;
    font-weight: normal;

}