
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}


aside { 
    background-color:  #c4b4d57e ;
    margin-top: 100px;
    width: 25vw;
    height: 100vh;
    display: flex;

}

aside ul {
    margin-top: 2.4rem;
    gap: 2.4rem;
    width: 25vw;
    display: grid;
}

main {
    width: 75vw;
    height: 100vh;
    justify-items: center;
    justify-content: center;
    display: flex;
}

main ul {
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 75vw;
    justify-content: center;

}

main img {
    border-radius: 8px;
    width: 12rem;
    box-shadow: 6px 9px 26px -7px #949494 ;

}

ul {

        list-style: none;
        display: flex;
        justify-items: center;;

    
}

li{
    justify-self: center;
    justify-items: center;;
    display: flex;
}

li h3 {
    font-size: 0.9rem;
}

li h2 {
    font-size: 0.9rem;
    font-weight: normal;

}